<!-- header name -->
@section header{
    File Sharing Center
}
<!-- navigation -->
@section nav{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-book"></i> Knowledge Management Systems</a></li>
        <li class="breadcrumb-item"><a href="#">File Sharing Center</a></li>
        <li class="breadcrumb-item">Categories</li>
        <li class="breadcrumb-item active">Documents</li>
    </ol>
}

<!-- content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">ระบบจัดเก็บแฟ้มข้อมูลส่วนกลาง File Sharing Center</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                @*<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>*@
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-12 text-center">
                    <ul>
                        <li>
                            Test
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>