<!-- header name -->
@section header{
    File Sharing Center
}
<!-- navigation -->
@section nav{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-book"></i> Knowledge Management Systems</a></li>
        <li class="breadcrumb-item"><a href="#">File Sharing Center</a></li>
        <li class="breadcrumb-item">Categories</li>
        <li class="breadcrumb-item active">Documents</li>
    </ol>
}

<!-- content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-6 text-center">
                    <ul>
                        <li>
                            Test
                        </li>
                        <li>
                            Test
                        </li>
                        <li>
                            Test
                        </li>
                        <li>
                            Test
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

@section scripts{
    <script src="@Url.Content("~/js/Documents/Documents.js")"></script>
}