<!-- header name -->
@section header{
    Home
}
<!-- navigation -->
@section nav{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-book"></i> Knowledge Management Systems</a></li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

<!-- content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <img src="@Url.Content("~/images/welcome.jpg")" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="doc_type_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Document Type Id
                        </th>
                        <th>
                            Document Type Name
                        </th>
                        <th>
                            Document Type Detail
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/js/Home/index.js")"></script>
}