@model  KM.Web.Models.FisMstDocTypeModel

<!-- header name -->
@section header{
    Home
}
<!-- navigation -->
@section nav{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-book"></i> Knowledge Management Systems</a></li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

<!-- content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <img src="@Url.Content("~/images/welcome.jpg")" />
        </div>
    </div>
    <div class="row">
    </div>
</section>